<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>Job4j Cars - Все объявления</title>
</head>
<body>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Job4j Cars</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="/">Главная</a>
                    <a class="nav-item nav-link active">Вce объявления</a>
                    <a class="nav-item nav-link" th:href="@{addNewPost}">Добавить новое объявление</a>
                    <a class="nav-item nav-link" href="#">Мои объявления</a>
                </div>
            </div>
        </div>
        <div class="d-flex" th:if="${user.login == 'Гость'}">
            <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
            <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
        </div>
        <div class="d-flex" th:if="${user.login} != 'Гость'">
            <a class="nav-link text-secondary me-3" href="#" th:text="${user.login}"></a>
            <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-3 p-2">Фото объявления</th>
                    <th class="col-4 p-2">Описание</th>
                    <th class="col-1 p-2" scope="row">Марка и модель</th>
                    <th class="col-1 p-2" scope="row">Год выпуска</th>
                    <th class="col-1 p-2" scope="row">Пробег</th>
                    <th class="col-1 p-2" scope="row">Объем двигателя</th>
                    <th class="col-1 p-2" scope="row">Цена (руб)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td>
                            <div class="mb-3">
                                <img class="w-100" th:src="@{/files/{fileId}(fileId=${post.photos[0].id})}" alt="no image">
                            </div>
                    </td>
                    <td class="text-truncate p-2" style="max-width:75px;" th:text="${post.description}"></td>
                    <td class="p-2">
                        <div th:text="${post.car.brand}"></div>
                        <div th:text="${post.car.model}"></div>
                    </td>
                    <td class="p-2" th:text="${post.car.year}"></td>
                    <td class="p-2" th:text="${post.car.mileage}"></td>
                    <td class="p-2" th:text="${post.car.engine.size}"></td>
                    <td class="p-2" th:text="${post.price}"></td>
                    <td class="p-2">
                        <div class="col-6"><a class="btn btn-primary" th:href="@{{postId}(postId = ${post.id})}">Показать полностью</a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>