<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>Job4j Cars - Все объявления</title>
</head>
<body>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Job4j Cars</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="/">Главная</a>
                    <a class="nav-item nav-link active">Вce объявления</a>
                    <a class="nav-item nav-link" th:href="@{addNewPost}">Добавить новое объявление</a>
                    <a class="nav-item nav-link" th:href="@{myPosts}">Мои объявления</a>
                </div>
            </div>
        </div>
        <div class="navbar-nav d-flex flex-row-reverse" th:if="${user.login == 'Гость'}">
            <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
            <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
        </div>
        <div class="navbar-nav d-flex flex-row-reverse" th:if="${user.login} != 'Гость'">
            <a class="nav-link text-secondary me-3" href="#" th:text="${user.login}"></a>
            <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
        </div>
    </nav>
</div>
<div class="container-fluid px-0 py-2" style="max-width:1600px">
        <div>
            <form th:action="@{/posts/all}">
                <div class="p-3 d-flex flex-wrap">
                    <div class="row pe-5">
                        <!--Car Brand-->
                        <div style="width:150px">
                            <label for="carBrand">Брэнд:</label>
                            <select class="form-control border border-secondary border-opacity-50" id="carBrand" name="carBrand">
                                <option></option>
                                <option th:each="carBrand : ${brands}" th:value="${carBrand.id}" th:text="${carBrand.name}"
                                        th:selected="(${carBrand.id} == ${enteredCarBrand})"></option>
                            </select>
                        </div>
                        <!--Car Model-->
                        <div style="width:150px">
                            <label for="carModel">Модель:</label>
                            <select class="form-control border border-secondary border-opacity-50" id="carModel" name="carModel">
                                <option></option>
                                <option th:each="carModel : ${models}" th:value="${carModel.id}" th:class="${carModel.CarBrand.id}"
                                        th:text="${carModel.name}" th:selected="(${carModel.id} == ${enteredCarModel})"></option>
                            </select>
                        </div>
                        <!--Min mileage-->
                        <div style="width:150px">
                            <label for="mileageFrom">Пробег от (км):</label>
                            <input type="text" class="form-control border border-secondary border-opacity-50"
                                   id="mileageFrom" name="mileageFrom" th:value="${enteredMileageFrom}">
                        </div>
                        <!--Max mileage-->
                        <div style="width:150px">
                            <label for="mileageUntil">Пробег до (км):</label>
                            <input type="text" class="form-control border border-secondary border-opacity-50"
                                   id="mileageUntil" name="mileageUntil" th:value="${enteredMileageUntil}">
                        </div>
                    </div>
                    <div class="row pe-5">
                        <!--Min price-->
                        <div style="width:150px">
                            <label for="priceFrom">Цена от (руб):</label>
                            <input type="text" class="form-control border border-secondary border-opacity-50"
                                   id="priceFrom" name="priceFrom" th:value="${enteredPriceFrom}">
                        </div>
                        <!--Max price-->
                        <div style="width:150px">
                            <label for="priceUntil">Цена до (руб):</label>
                            <input type="text" class="form-control border border-secondary border-opacity-50"
                                   id="priceUntil" name="priceUntil" th:value="${enteredPriceUntil}">
                        </div>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary align-bottom mt-4">Применить фильтр</button>
                        <a class="btn btn-danger align-bottom mt-4 ms-2" role="button" th:href="@{/posts/all}">Очистить</a>
                    </div>
                </div>
            </form>
        </div>
    <table class="table">
                <thead>
                <tr>
                    <th class="col-3 p-2">Фото объявления</th>
                    <th class="col-4 p-2">Описание</th>
                    <th class="col-1 p-2" scope="row">Марка и модель</th>
                    <th class="col-1 p-2" scope="row">Год выпуска</th>
                    <th class="col-1 p-2" scope="row">Пробег</th>
                    <th class="col-1 p-2" scope="row">Объем двигателя</th>
                    <th class="col-1 p-2" scope="row">Цена (руб)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td>
                        <div class="mb-3">
                            <img class="w-100" th:src="@{/files/{fileId}(fileId=${post.photos[0].id})}" alt="no image">
                        </div>
                    </td>
                    <td class="text-truncate p-2" style="max-width:75px;" th:text="${post.description}"></td>
                    <td class="p-2">
                        <div th:text="${post.car.carBrand.name}"></div>
                        <div th:text="${post.car.carModel.name}"></div>
                    </td>
                    <td class="p-2" th:text="${post.car.year}"></td>
                    <td class="p-2" th:text="${post.car.mileage}"></td>
                    <td class="p-2" th:text="${post.car.engine.size}"></td>
                    <td class="p-2" th:text="${post.price}"></td>
                    <td class="p-2">
                        <div class="col-6"><a class="btn btn-primary" th:href="@{{postId}(postId = ${post.id})}">Показать полностью</a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<script type="text/javascript">
    $all_option = $("#carModel").html();
    $("#carBrand").change(function() {
        $("#carModel").html($all_option);
        var val=$("#carBrand").find(":selected").val();
        $("#carModel option[class!="+val+"]").remove();
    })
</script>
</body>
</html>